*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


// ================================= CABEÇALHO =========================================== //

.Cabecalho{
  display:flex;
  background-color: #1693a5;
  height: 10vh;

  nav{
    display:flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    .Logo{
      padding: 2rem;
      margin-left: 0.8rem;

    }
    .Menu{
      padding: 1.2rem;
    }
    .LogarCadastrar{
      padding: 1.2rem;
    }

    a{
      color: white;
      text-decoration: none;
      font-size: 18px;
      text-transform: uppercase;
      border-radius: 10px;
      padding: 0.8rem;
    }

    a:hover{
      background-color: #a5c8ca;
    }
  }
}
// ================================= RODAPÉ =========================================== //

.RODAPE{
  display:flex;
  height: 15vh;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  background-color: #bdd6d2;

  .Turma{
    font-size: 24px;
    color: #586875;
  }
  .Integrantes{
    font-size: 13px;
    color: #586875;
    padding: 1.2rem;
  }
}
// ================================= LOGIN =========================================== //

.LOGIN {
  display:flex;
  width: 100%;
  height: 90vh;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  flex-direction: column;
  background-color: #e3e5d7;
  
  .classStatus{
    text-align: center;
    margin-bottom: 0.8rem;
  }

  .LoginContent{
    text-align: center;
    line-height: 35px;
    font-size: 20px;
  }

  .FormLogin{
    display:flex;
    align-items: center;
    height: auto;
    padding: 1.6rem;

    .Login-inputs{
      display:flex;
      justify-content: center;
      flex-direction: column;
      padding: 1rem;

      .Login-input{
        display:flex;
        flex-direction: column;
        color:#586875;
        text-align: center;

        & input{
          text-align: center;
          margin: 0.6rem 0;
          padding: 0.8rem 4.2rem;
          border: 1px solid #586875;
          border-radius: 15px;
        }
      }
    }

    .Botao{
      display:flex;
      justify-content: center;
      
      button{
        background-color: #586875;
        color: rgb(255, 255, 255);
        border:none;
        border-radius: 10px;
        margin-top: 0.5rem;
        padding: 0.7rem 5.2rem;
        cursor: pointer;
      }
    }

    .Cadastre-se{
      display:flex;
      padding: 1.2rem;

      p{
        margin-right: 6px;
      }
    }
  }
}

// ================================= CADASTRAR =========================================== //

.CADASTRAR{
  display:flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #e3e5d7;

  .CadastrarContent{
    text-align: center;
    line-height: 35px;
    font-size: 20px;
  }

  .FormCadastrar{
    display:flex;
    align-items: center;
    height: auto;
    flex-direction: column;
    padding: 1.6rem;

    .cadastrar-inputs{
    
      .cadastrar-input{
        display:flex;
        flex-direction: column;
        color:#586875;

        & input{
          text-align: center;
          margin: 0.6rem 0;
          padding: 0.8rem 5.2rem;
          border: 1px solid #586875;
          border-radius: 15px;
        }
        
      }
    }
  }
  .Botoes{
    display:flex;
    padding: 0.4rem;
    
    .botao-Cancelar{
      background-color: #a93545;
      color: rgb(255, 255, 255);
      border:none;
      border-radius: 10px;
      text-decoration: none;
      margin-top: 0.5rem;
      margin-right: 1rem;
      padding: 0.7rem 1.2rem;
      cursor: pointer;
    }
    .botao-Cadastrar{
      background-color: #586875;
      color: rgb(255, 255, 255);
      font-size: 16px;
      border:none;
      border-radius: 10px;
      text-decoration: none;
      margin-top: 0.5rem;
      padding: 0.7rem 1.2rem;
      cursor: pointer;
    }
  }
  .Logar{
    display: flex;
    padding: 1.2rem;

    p{
      margin-right: 6px;
    }
  }
}

// ================================= SOBRENOS =========================================== //
.SOBRENOS{
  display:flex;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  padding: 2.3rem;
  background-color: #e3e5d7;
  flex-direction: column;

  .ContainerSobreNos{
    display:flex;
    padding: 3.2rem;
    flex-direction: row;
    width: 70%;
    
    .TituloSobrenos{
      display:flex;
      flex-direction: column;
      line-height: 35px;
      text-align: justify;
      padding: 1.2rem;

      h1{
        font-size: 80px;
        color:#586875;
        line-height: 80px;
      }
  
      h2{
        font-size: 40px;
        color:#1693a5;
        line-height: 40px;
      }
    }
    p{
      line-height: 24px;
      font-size: 20px;
      color:#586875;
      text-align: justify;
      padding: 1.2rem;
    }
  }
  .Componentes{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 30px;
    width: 70%;

    h1{
      color:#586875;
      font-size: 36px;
      padding: 1.5rem;
      background-color: #bdd6d2;
      border-radius: 20px;
    }

    .Componente{
      display:flex;
      flex-direction: column;
      padding: 1.5rem;
      margin: 1rem 0;
      text-align: justify;
      
      h2{
        font-size: 30px;
        color:#479093
      }
      p{
        font-size: 24px;
      }
    }
  }
}

// ================================= HOME =========================================== //
.HOME{
  display:flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  background-color: #e3e5d7;

  .BannerHome{
    display:flex;
    width: 100%;
    height: 65vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 2.4rem;
    margin: 0 auto;
    background-color: #f6eddc;

    h1{
      font-size: 36px;
      color:#479093
    }
    p{
      font-size: 24px;
      padding: 1.5rem;
      width: 80%;
    }
    .BotoesHome{
      display:flex;
      margin-top: 1.4rem;

      .BotaoHome{
        text-decoration: none;
        background-color: #479093;
        padding: 1rem;
        color: white;
        border-radius: 10px;
        margin-right: 20px;
      }
    }
  }
  .BeneficiosHome{
    display:flex;
    width: 100%;
    height: 60vh;
    justify-content: center;
    align-items: center;
    padding: 2.4rem;
    

    .BeneficioHome{
      display:flex;
      flex-direction: column;
      align-items: center;
      padding: 1.2rem;
      margin-right: 2.8rem;
      margin: 1rem;
      text-align: center;
      
      h1{
        font-size: 28px;
        color:#1693a5;
        line-height: 45px;
      }
      p{
        font-size: 20px;
        line-height: 25px;
      }
    }
  }
}